@import url('yang.ttf');
*{
    margin: 0px;
    padding: 4px;
}
body{
    border: 1px solid black;
    min-height: 4000px;
    min-width: 1200px;
}

.naver-head{ /*검색 비롯한 상단에 위치한 부분*/
    width: 1200px;
    min-height: 180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.jr-naver{
    min-width: 300px;
    min-height: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0;
}
.jr-naver a{
    color: darkgray;
}
.jr-naver:hover{
    cursor: pointer;
}
.jr-naver a:visited{
    color: darkgray;
}
.jr-logo{
    display: inline;
}
.span-right{
    display: inline-block;
    border-radius: 100%;
    background-color: white;
    color: slategrey;
    width: 18px;
    height: 18px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 10px;
    padding: 0;
}
.search-bg{
    max-width: 900px;
    min-height: 80px;
    margin-top: 70px;
    background-image: url(logo.JPG);
    background-size: 250px;
    background-repeat: no-repeat;
}
.search{
    border: 1px solid #2DB400;
    width: 620px;
    min-height: 50px;
    float: right;
    margin-top: 12px;
    padding: 0;
    position: relative;
}
.search .search-text{
    display: inline-block;
    width: 520px;
    height: 35px;
    border: none;
    background: transparent;
    margin: 0.7%;
    margin-left: 1.4%;
    font-size: large;
    font-family: 궁서;
}
.search .search-text:focus{
    outline: none;
    background: transparent;
}
.search-down{
    color: #2DB400;
    position: absolute;
    right: 60px;
    top: 10px;
}
.search-down:hover{
    cursor: pointer;
}
.search-button{
    display: block;
    width: 7%;
    border: 1px solid #2DB400;
    background-color: #2DB400;
    float: right;
    margin: 0;
    padding: 4px;
}
.search-button:hover{
    cursor: pointer;
}





.naver-line{
    width: 1200px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.naver-nav{
    font-family: '고딕';
    font-size: large;
    font-weight: bold;
    max-width: 900px;
    max-height: 40px;
    overflow: hidden;
    float: left;
    margin-top: 5px;
}
.naver-line ul{
    list-style: none;
    display: inline-block;
    
}
.naver-line ul li, a{
    list-style: none;
    display: inline-block;
    padding: 0;
}
a:hover{
    cursor: pointer;
}
.green-nav{
    color: #2DB400;
}
.black-nav{
    color: black;
}
.naver-tv-logo{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url("tv-logo.png");
    background-size: 18px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.naver-shop-logo{
    padding: 0;
    display: inline-block;
    width: 55px;
    height: 23px;
    background-image: url("shop-logo.png");
    background-size: 55px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.mail-logo{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url("mail-logo.png");
    background-size: 18px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.more{
    font-size: small;
    color: slategrey;
}



.weather-nav{
    margin: 0;
    padding: 0;
    margin-top: 6px;
    width: 260px;
    max-height: 40px;
    margin-left: 900px;
    overflow: hidden;
    font-family: '고딕';
}
.weather-nav:hover{
    cursor: pointer;
}
.weather-nav .weather{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: small;
}
.weather-logo{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("맑음-logo.png");
    background-repeat: no-repeat;
    background-size: 35px;
    vertical-align: middle;
}
.weather-nav .juso{
    margin: 0;
    padding: 0;
    font-size: small;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
}
.weather-nav span{
    padding: 0;
}
.tem-bold{
    font-weight: bold;
    vertical-align: middle;
}
.tem-blue{
    color: blue;
    font-weight: 700;
    vertical-align: middle;
}
.tem-red{
    color: red;
    font-weight: 700;
    vertical-align: middle;
}






.naver-middle{
    /*border: 1px solid blue;*/
    width: 1200px;
    min-height: 2930px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}





.naver-login{
    /*border: 1px solid green;*/
    min-width: 340px;
    min-height: 250px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.naver-login-login{
    border: 1px solid #dae1e6;
    border-radius: 3px;
    max-width: 380px;
    height: 142px;
    padding: 20px 20px 13px 20px;
    color: #202020;
    background-color: #f7f9fa;
    box-sizing: border-box;
}
.naver-login-logo{
    display: inline-block;
    margin-top: 5px;
    width: 341px;
    height: 50px;
    background-image: url(login-logo.png);
    background-size: 341px;
    background-repeat: no-repeat;
}
.naver-login-logo:hover{
    cursor: pointer;
}
.naver-login-login p{
    max-width: 340px;
    color: grey;
    padding: 0;
    margin-bottom: 2px;
}
.naver-login-login span{
    font-weight: lighter;
    font-size: 14px;
    color: #202020;
}
.naver-login-login span:hover{
    text-decoration: underline;
}
.signin{
    float: right;
}
.key{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(key.png);
    background-repeat: no-repeat;
    background-size: 17px;
    vertical-align: middle;
}
.man{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(man.JPG);
    background-repeat: no-repeat;
    background-size: 17px;
    vertical-align: middle;
}

.naver-login-down{
    border: 1px solid #dae1e6;
    border-radius: 3px;
    margin-top: 15px;
    width: 380px;
    height: 50px;
    padding: 0;
    background-color: #f7f9fa;
    box-sizing: border-box;
}
.naver-login-dollar{
    display: inline-block;
    width: 272px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    padding: 12px 0px 10px 7px;
    float:left;
}
.isue{
    border: 0.2px solid #202020;
    border-radius: 10px;
    width: 40px;
    height: 19px;
    display: inline-block;
    font-size: smaller;
    padding: 0;
    text-align: center;
    color: #202020;
    font-style: normal;
}
.naver-login-dollar span{
    font-size: smaller;
    color: #404040;
}
.naver-login-dollar span:hover{
    text-decoration: underline;
}
.naver-login-move{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    padding: 11px 10px 10px 0px;
    float:left;
}
.move-button{
    min-width: 54px;
    width: 60px;
    height: 24px;
    padding: 0;
    margin: 0;
    margin-left: 40%;
}
.move-button a{
    font-size: x-large;
    padding: 0;
    color: slategray;
    line-height: 17px;
}
.move-button a:hover{
    color: black;
}
.move-left{
    border: 0.2px solid #e4e8eb;
    float: left;
    width: 22px;
    height: 22px;
}
.move-right{
    border: 0.2px solid #e4e8eb;
    float: left;
    width: 22px;
    height: 22px;
}





hr{
    border: 1px solid white;
    border-bottom: 2px solid #d3d3d3;
    margin-top: 10px;
    margin-bottom: 3px;
}

.shadow{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
    margin-top: 3px;
    margin-bottom: 10px;
}

.naver-middle-left{
    /*border: 1px solid aqua;*/
    min-width: 750px;
    min-height: 2000px;
    float: left;
}

.naver-news{
    min-width: 730px;
    min-height: 440px;
}

.naver-body{
    min-width: 730px;
    min-height: 2000px;
}

.naver-foot{
    border: 1px solid indianred;
    width: 1200px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}


/*이건형님 CSS*/


/* .naver-news{
    border: 0.5px solid black

} */
/* 첫칸
첫칸
첫칸 */
#newshead{
    border: 0.5px solid #c6cfd8;   
    height: 49px;
    width: 737px;
    line-height: 40px;
    background-color: #f7f9fa;
    padding-left: 10px;
   }
   
   #newshome{
       color: blue;
       cursor: pointer;
   }
   
   #jea{
       font-size: 12px;
       cursor: pointer;
   }
   
   #qatar{
       display:inline-block;
       width: 110px;
       height: 30px;
       background-image:url(./img/qatar.png);
       background-size: 110px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left: 20px;
       margin-top: 4px;
       cursor: pointer;
   }
   
   #yunhab{
       font-size: 15px;
       font-weight: bold;
       cursor: pointer;
   }
   
   
   
   /* 두번째칸
   두번째칸
   두번째칸 */
   
   
   #stand{
    /* border: 0.5px solid black; */
    height: 56px;
    width: 747.72px;
    line-height: 48px;
    padding-left: 10px;
    
    
   }
   
   #news2{
       display:inline-block;
       width: 50px;
       height: 40px;
       background-image:url(./img/2news.png);
       background-size: 50px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left:-18px;
       margin-top: -13px; 
       cursor: pointer;
   }
   
   #view{
       display:inline-block;
       width: 100px;
       height: 30px;
       background-image:url(./img/view.png);
       background-size:100px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left:630px;
       margin-top: -90px;
       cursor: pointer;
   }
   
   #code1{
       color: #c7ccd1;
       font-size: 25px;
   }
   
   
   #s1{
       font-weight: bold;
       cursor: pointer;
   }
   
   #s3{
       font-weight: bold;
       cursor: pointer;
   }
   
   
   
   /* 세번째
   세번째
   세번째 */
   
   
   /* #newsfooter{
       border: 1px solid blue;
       width: 747.72px;
       height: 48px;
   
   } */
   table{
       width: 730px;
       border-spacing: 0px;
       /* border-style: none; */
       padding: 0px;
       border-color: #ffffff
   }
   .naver-news img{
       width: 105px;/*120.5px;*/
       height: 54.99px;
       cursor: pointer;
   }
   
   #left{
       display:inline-block;
       width: 40px;
       height: 60px;
       background-image:url(../img/left.png);
       background-size:40px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left:-15px;
       margin-top: -300px;
       /* box-shadow: 5px 5px 5px #000; */
       cursor: pointer;
   }

   /*------*/


   /*content*/

   div.naver-body{
        font-size: 12px;
        color: #202020;
        font-family: "Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    }
    .naver-body a{
        text-align: center;
        text-decoration: none;
        display: inline-block;
        color: black;
        font-weight: bold;
    }
    li p{
        display: inline-block;
        width: 600px;
      position: absolute;
    }
ul > li{
    list-style: none;
}

.letter{
    margin: 0px;
    max-width: 720px;
}
.letter1{
border: 1px solid #dae1e6;
width: 90px;
height: 30px;
display: inline-block;
box-sizing: border-box;
text-align: center;
margin: 0;
position: center;
}
.hlist3{
}
.letter2{

width: 730px;
height: 73px;
box-sizing: border-box;
    
}

.letter3{
height:310px;
width: 128px;
display: inline-block;
text-align: center;
}
.letter4{
width: 730px;
height: 96px;
box-sizing: border-box;
}
li img{

    width: 90px;
  height: auto;
    
}

/*------*/