@import url('yang.ttf');
*{
    margin: 0px;
    padding: 4px;
}
body{
    min-height: 3550px;
    min-width: 1200px;
}

.naver-head{ /*검색 비롯한 상단에 위치한 부분*/
    width: 1200px;
    min-height: 180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.jr-naver{
    min-width: 300px;
    min-height: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0;
}
.jr-naver a{
    color: darkgray;
}
.jr-naver:hover{
    cursor: pointer;
}
.jr-naver a:visited{
    color: darkgray;
}
.jr-logo{
    display: inline;
}
.span-right{
    display: inline-block;
    border-radius: 100%;
    background-color: white;
    color: slategrey;
    width: 18px;
    height: 18px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 10px;
    padding: 0;
}
.search-bg{
    max-width: 900px;
    min-height: 80px;
    margin-top: 70px;
    background-image: url(logo.JPG);
    background-size: 250px;
    background-repeat: no-repeat;
}
.search{
    border: 1px solid #2DB400;
    width: 620px;
    min-height: 50px;
    float: right;
    margin-top: 12px;
    padding: 0;
    position: relative;
}
.search .search-text{
    display: inline-block;
    width: 520px;
    height: 35px;
    border: none;
    background: transparent;
    margin: 0.7%;
    margin-left: 1.4%;
    font-size: large;
    font-family: 궁서;
}
.search .search-text:focus{
    outline: none;
    background: transparent;
}
.search-down{
    color: #2DB400;
    position: absolute;
    right: 60px;
    top: 10px;
}
.search-down:hover{
    cursor: pointer;
}
.search-button{
    display: block;
    width: 7%;
    border: 1px solid #2DB400;
    background-color: #2DB400;
    float: right;
    margin: 0;
    padding: 4px;
}
.search-button:hover{
    cursor: pointer;
}





.naver-line{
    width: 1200px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.naver-nav{
    font-family: '고딕';
    font-size: large;
    font-weight: bold;
    max-width: 900px;
    max-height: 40px;
    overflow: hidden;
    float: left;
    margin-top: 5px;
}
.naver-line ul{
    list-style: none;
    display: inline-block;
    
}
.naver-line ul li, a{
    list-style: none;
    display: inline-block;
    padding: 0;
}
a:hover{
    cursor: pointer;
}
.green-nav{
    color: #2DB400;
}
.black-nav{
    color: black;
}
.naver-tv-logo{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url("tv-logo.png");
    background-size: 18px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.naver-shop-logo{
    padding: 0;
    display: inline-block;
    width: 55px;
    height: 23px;
    background-image: url("shop-logo.png");
    background-size: 55px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.mail-logo{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url("mail-logo.png");
    background-size: 18px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.more{
    font-size: small;
    color: slategrey;
}



.weather-nav{
    margin: 0;
    padding: 0;
    margin-top: 6px;
    width: 260px;
    max-height: 40px;
    margin-left: 900px;
    overflow: hidden;
    font-family: '고딕';
}
.weather-nav:hover{
    cursor: pointer;
}
.weather-nav .weather{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: small;
}
.weather-logo{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("맑음-logo.png");
    background-repeat: no-repeat;
    background-size: 35px;
    vertical-align: middle;
}
.weather-nav .juso{
    margin: 0;
    padding: 0;
    font-size: small;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
}
.weather-nav span{
    padding: 0;
}
.tem-bold{
    font-weight: bold;
    vertical-align: middle;
}
.tem-blue{
    color: blue;
    font-weight: 700;
    vertical-align: middle;
}
.tem-red{
    color: red;
    font-weight: 700;
    vertical-align: middle;
}






.naver-middle{
    /*border: 1px solid blue;*/
    width: 1200px;
    min-height: 2930px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}





.naver-login{
    /*border: 1px solid green;*/
    min-width: 340px;
    min-height: 250px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.naver-login-login{
    border: 1px solid #dae1e6;
    border-radius: 3px;
    max-width: 380px;
    height: 142px;
    padding: 20px 20px 13px 20px;
    color: #202020;
    background-color: #f7f9fa;
    box-sizing: border-box;
}
.naver-login-logo{
    display: inline-block;
    margin-top: 5px;
    width: 341px;
    height: 50px;
    background-image: url(login-logo.png);
    background-size: 341px;
    background-repeat: no-repeat;
}
.naver-login-logo:hover{
    cursor: pointer;
}
.naver-login-login p{
    max-width: 340px;
    color: grey;
    padding: 0;
    margin-bottom: 2px;
}
.naver-login-login span{
    font-weight: lighter;
    font-size: 14px;
    color: #202020;
}
.naver-login-login span:hover{
    text-decoration: underline;
}
.signin{
    float: right;
}
.key{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(key.png);
    background-repeat: no-repeat;
    background-size: 17px;
    vertical-align: middle;
}
.man{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(man.JPG);
    background-repeat: no-repeat;
    background-size: 17px;
    vertical-align: middle;
}

.naver-login-down{
    border: 1px solid #dae1e6;
    border-radius: 3px;
    margin-top: 15px;
    width: 380px;
    height: 50px;
    padding: 0;
    background-color: #f7f9fa;
    box-sizing: border-box;
}
.naver-login-dollar{
    display: inline-block;
    width: 272px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    padding: 12px 0px 10px 7px;
    float:left;
}
.isue{
    border: 0.2px solid #202020;
    border-radius: 10px;
    width: 40px;
    height: 19px;
    display: inline-block;
    font-size: smaller;
    padding: 0;
    text-align: center;
    color: #202020;
    font-style: normal;
}
.naver-login-dollar span{
    font-size: smaller;
    color: #404040;
}
.naver-login-dollar span:hover{
    text-decoration: underline;
}
.naver-login-move{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    padding: 11px 10px 10px 0px;
    float:left;
}
.move-button{
    min-width: 54px;
    width: 60px;
    height: 24px;
    padding: 0;
    margin: 0;
    margin-left: 40%;
}
.move-button a{
    font-size: x-large;
    padding: 0;
    color: slategray;
    line-height: 17px;
}
.move-button a:hover{
    color: black;
}
.move-left{
    border: 0.2px solid #e4e8eb;
    float: left;
    width: 22px;
    height: 22px;
    text-align: center;
}
.move-right{
    border: 0.2px solid #e4e8eb;
    float: left;
    width: 22px;
    height: 22px;
    text-align: center;
}



.big-ad{
    padding: 0;
    position: absolute;
    top: 240px;
    right: 10px;
    width: 385px;
    height: 217px;
}
.big-ad img{
    padding: 0;
    width: 385px;
}
.naver-ad{
    padding: 0;
    border: 1px solid #dae1e6;
    min-width: 380px;
    min-height: 2300px;
    position: absolute;
    top: 480px;
    right: 10px;
}
.naver-ad-fist{
    padding: 0;
    width: 370px;
    height: 100px;
    margin-left: 5px;
}
.naver-ad-fist-top{
    padding: 0;
    width: 370px;
    height: 35px;
}
.naver-ad-fist-top-left{
    padding: 0;
    float: left;
    width: 175px;
    height: 35px;
    box-sizing: border-box;
}
.naver-ad-fist-top-left .right-space{
    font-size: x-large;
    color: #585858;
}
.naver-ad-fist-top-left a:hover{
    text-decoration: underline;
}
.naver-ad-fist-top-right{
    padding: 0;
    float: right;
    width: 175px;
    height: 35px;
    text-align: right;
    padding-top: 4px;
    box-sizing: border-box;
    margin-right: 2px;
}
.naver-ad-fist-top-right span{
    margin-left: 7px;
}
.mini-logo{
    padding: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(mini-logo.png);
    background-size: 22px;
    background-repeat: no-repeat;
    
}
.naver-ad-fist-bottom{
    padding: 0;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    width: 370px;
    height: 65px;
    padding-top: 8px;
    box-sizing: border-box;
}
.naver-ad-fist-bottom ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.naver-ad-fist-bottom li{
    padding: 0;
    display: inline-block;
}
.naver-ad-fist-bottom .slim-a{
    padding: 0;
    font-size: small;
}
.naver-ad-fist-bottom .bold-a{
    padding: 0;
    font-size: small;
    font-weight: bold;
}


.naver-ad-fist a{
    padding: 0;
}
.naver-ad-fist span{
    padding: 0;
    font-size: small;
    font-weight: bold;
}
.green_under-line{
    color: #03C75A;
    text-decoration: underline;
}


.naver-ad-second{
    border-bottom: 1px solid #dae1e6;
    padding: 0;
    width: 370px;
    height: 700px;
    margin-top: 4px;
    margin-left: 5px;
}
.side-letter1{
    text-align: right;
}
.side-letter1 a{
    float: right;
}
.naver-ad-second *{
    padding: auto;
}
.naver-ad{
    margin: 0 auto;
}
.side-letter2{
    
    height: 620px;
    width: 350px;
    box-sizing: border-box;
    margin: 0 auto;
    
    
    
    
}
 .side-letter2-1{
    width: 110px;
    height: 138px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
 }
 .side-letter2-1 img{
    width: 80px;
 }
 .side-letter2-1 *{
    padding: 0;
 }
 .side-letter2-1 a{
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #202020;
 }
 .side-letter2-1 a:hover{
    text-decoration: underline;
 }
 .side-letter2-2{
        
    box-sizing: border-box;
 }
 .side-letter3{
    margin: 0 auto;
    text-align: center;
    float: right;
 }








/*이건형님 CSS*/
.naver-ad-tirth {
    border-bottom: 1px solid #dae1e6;
    padding: 0;
    width: 370px;
    height: 250px;
    margin-top: 4px;
    margin-left: 4px;
}
.naver-ad-tirth *{
    padding: 0;
}
.g121{
    width: 360px;
    height: 40px;
    /* border: 1px solid black; */
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    color: #202020;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Malgun Gothic",
    "맑은 고딕",helvetica,
    "Apple SD Gothic Neo",sans-serif;
    margin-left: 20px;
}

#three{
    font-weight: normal;
}

#five{
    margin-left: 130px;
}

#yang{
    display:inline-block;
    width: 50px;
    height: 40px;
    background-image: url(yang.png);
    background-size: 50px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 10px;
    cursor: pointer;
}


#four{
    padding: 0;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Malgun Gothic",
    "맑은 고딕",helvetica,
    "Apple SD Gothic Neo",sans-serif;
    width: 360px;
}

.four::marker{
    color: #1ACE61;
}
.g122{
    width: 360px;
    height: 222px;
    line-height: 28px;
    /* border: 1px solid black; */
    font-size: 12px;
    margin-left: 20px;
}

#one{
    font-weight: bold;
    cursor:pointer;
}

#one:hover{
    text-decoration: underline;
}
#two{
    cursor: pointer;
}

#two:hover{
    text-decoration: underline;
}
/*-------*/

/*4*/
.naver-ad-4 {
    border-bottom: 1px solid #dae1e6;
    padding: 0;
    width: 370px;
    height: 270px;
    margin-top: 4px;
    margin-left: 5px;
    padding-left: 20px;
    box-sizing: border-box;
}
.sibalparents{
    /* border: 1px solid black; */
    width: 331px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding-bottom: 5px;
}
.sibalparents *{
    padding: 0;
}



#sibal1{
    border-bottom: 3px solid;
    color: #03c75a;
    font-weight: 700;
    border-color: #19ce60;
    margin-left: 10px;
    margin-right: 2px;
    cursor: pointer;
}

#sibal2{
    word-spacing: 2px;
    cursor: pointer;
}

#sibal3{
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
}

#sibal4{
    cursor: pointer;
}

#sibal5{
    display: inline-block;
    width: 50px;
    height: 40px;
    background-image: url(yang.png);
    background-repeat: no-repeat;
    background-size: 50px;
    vertical-align: middle;
    margin-top: 8px;
    cursor: pointer;
}

/* 2----------------------------------------------- */

.picaparents{
    width: 331px;
  height:173.2px;
    /* border: 1px solid black; */
}
#pica1{
    display: inline-block;
    width: 331px;
    height: 180px;
    background-image: url(pica.png);
    background-repeat: no-repeat;
    background-size: 331px;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}


/* 3----------------------------------------------- */

.pocketparents{
    width: 331px;
    height:35px;
    /* border: 1px solid black; */
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    font-weight: 700;
}

#pocket1{
    margin-left: 10px;
    cursor: pointer;
}

#pocket2{
    margin-left: 40px;
    cursor: pointer;
}

#pocket1:hover{
    text-decoration: underline;
}

#pocket2:hover{
    text-decoration: underline;
}

/*---*/







.naver-ad-5 {
    border-bottom: 1px solid #dae1e6;
    padding: 0;
    width: 370px;
    height: 300px;
    margin-top: 4px;
    margin-left: 5px;
}
.naver-ad-5 *{
    padding: 0;
}
.hiparents{
    /* border: 1px solid black; */
    width: 331px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding-bottom: 5px;
    margin-left: 19px;
}


#hi1{
    display: inline-block;
    width: 50px;
    height: 40px;
    background-image: url(hi.png);
    background-repeat: no-repeat;
    background-size: 50px;
    vertical-align: middle;
    margin-top: 2px;
    cursor: pointer;
}

#hi2{
    word-spacing:0;
    cursor: pointer;
}

#hi3{
    font-weight: bold;
    margin-left: 33px;
    cursor: pointer;
}

#hi4{
    cursor: pointer;
}

#hi5{
    display: inline-block;
    width: 50px;
    height: 40px;
    background-image: url(yang.png);
    background-repeat: no-repeat;
    background-size: 50px;
    vertical-align: middle;
    margin-top: 8px;
    cursor: pointer;
}

/* 2----------------------------------------------- */

.palaparents{
    /* border: 1px solid black; */
    width: 331px;
    height: 228px;
    margin-left: 17px;
}

.palaparents > img{
    float:left;
    width: 160px;
    height: 220px;
    margin-right: 6px;
    margin-top: -8px;
}

.palaparents > p{
    font-size: 12px;
    margin-top: 10px;
    line-height: 12px;
}

#pala1{
    line-height: 4px;
}

#pala2{
    margin-top: 35px;
    line-height: 0px;
}
#pala20{
    margin-top: 15px;
    line-height: 0px;
}

#pala3{
    line-height: 4px;
    margin-top: 35px;
}
#pala30{
    line-height: 4px;
}







hr{
    border: 1px solid white;
    border-bottom: 2px solid #d3d3d3;
    margin-top: 10px;
    margin-bottom: 3px;
}

.shadow{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
    margin-top: 3px;
    margin-bottom: 10px;
}

.naver-middle-left{
    /*border: 1px solid aqua;*/
    min-width: 750px;
    min-height: 2000px;
    float: left;
}


.naver-news{
    min-width: 730px;
    min-height: 440px;
}

.naver-body{
    min-width: 730px;
    min-height: 2000px;
}





.naver-foot{
    border-top: 2px solid #d3d3d3;
    background-color: #FAFBFC;
    width:100%;
    min-height: 370px;
    max-height: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.naver-foot-middle{
    width: 1200px;
    height: 392px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.naver-foot-middle-top{
    width: 1200px;
    height: 25px;
    padding: 0;
    margin-top: 50px;
    border-top: 2px solid #d3d3d3;
    font-size: 14px;
    font-family: "고딕";
    color: #202020;
}
.naver-foot-middle-top-left{
    float: left;
    padding: 0;
    line-height: 55px;
}
.naver-foot-middle-top-right{
    float: right;
    padding: 0;
    line-height: 55px;
}
.span-right{
    font-size: 14px;
}
.naver-foot-middle-top a:hover{
    text-decoration: underline;
}

.naver-foot-middle-mid{
    padding: 0;
    margin-top: 25px;
    border-top: 2px solid #d3d3d3;
    position: relative;
}
.naver-foot-middle-mid-left{
    display: inline-block;
    padding: 0;
    height: 120px;
    width: 800px;
    padding-top: 18px;
}
.naver-foot-middle-mid-left ul{
    color: #585858;
    padding: 0;
    padding-bottom: 11px;
}
.naver-foot-middle-mid-left span{
    font-weight: bold;
    color: black;
}
.naver-foot-middle-mid-left li{
    padding: 0;
    display: inline-block;
}
.naver-foot-middle-mid-right{
    padding: 0;
    display: inline-block;
    width: 370px;
    height: 110px;
    position: absolute;
    padding-top: 15px;
    right: 0;
    top: 0;
}
.naver-foot-middle-mid-right *{
    padding: 0;
}
.naver-foot-middle-mid-right a{
    color: #808080;
}
.naver-foot-middle-mid-right a:hover{
    text-decoration: underline;
    color: #03C75A;
}
.naver-foot-middle-mid-right p{
    width: 110px;
    font-weight: bold;
}
.naver-foot-middle-mid-right img{
    width: 60px;
    float: right;
    vertical-align: top;
    position: absolute;
    right: 10px;
    top: 25px;
}

.naver-foot-middle-mid-right img:hover{
    cursor: pointer;
}
.whale{
    display: inline-block;
    width: 180px;
    height: 110px;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}
.flower{
    display: inline-block;
    width: 180px;
    height: 110px;
    padding-top: 30px;
    margin-left: 2px;
    box-sizing: border-box;
    position: relative;
}


.naver-foot-middle-bot{
    padding: 0;
    margin-top: 25px;
    border-top: 2px solid #d3d3d3;
    padding-top: 18px;
}







.absol{
    width: 230px;
    height: 55px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    margin: 0;
    padding: 0;
}
.darkmode{
    padding: 0px;
    border-radius: 50%;
    box-shadow: 2px 3px 5px 0px #585858;
    width: 160px;
    height: 50px;
    float: left;
    padding-left: 3px;
    background-color: white;
    box-sizing: border-box;
    color: #585858;
}
.darkmode:hover{
    background-color: #585858;
    color: white;
    cursor: pointer;
}
.half-moon-logo{
    width: 20px;
    height: 15px;
    padding: 0;
    display: inline-block;
    background-image: url(silver-half-moon.png);
    background-repeat: no-repeat;
    background-size: 15px;
}
.half-moon-logo:hover{
    background-image: url(yellow-half-moon.png);
    cursor: pointer;
}
.half-moon-text{
    padding: 0;
    width: 125px;
    height: 21px;
    display: inline-block;
    line-height: 50px;
}

.move-top{
    padding: 0;
    box-shadow: 2px 3px 5px 0px #585858;
    border-radius: 50%;
    color: #585858;
    background-color: white;
    width: 50px;
    height: 50px;
    float: right;
}
.move-top:hover{
    background-color: #38d304;
    color: white;
    cursor: pointer;
}
.move-top-button{
    padding: 0;
    width: 11px;
    height: 27px;
    display: inline-block;
    margin-left: 19px;
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
}








/*이건형님 CSS*/


/* .naver-news{
    border: 0.5px solid black

} */
/* 첫칸
첫칸
첫칸 */
#newshead{
    border: 0.5px solid #c6cfd8;   
    height: 49px;
    width: 737px;
    line-height: 40px;
    background-color: #f7f9fa;
    padding-left: 10px;
   }
   
   #newshome{
        padding: 0;
       color: blue;
       cursor: pointer;
   }
   
   #jea{
       font-size: 12px;
       cursor: pointer;
   }
   
   #qatar{
        padding: 0;
       display:inline-block;
       width: 105px;
       height: 30px;
       background-image:url(./img/qatar.png);
       background-size: 110px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left: 10px;
       margin-top: 4px;
       cursor: pointer;
   }
   
   #yunhab{
       font-size: 15px;
       font-weight: bold;
       cursor: pointer;
   }
   
   
   
   /* 두번째칸
   두번째칸
   두번째칸 */
   
   
   #stand{
    /* border: 0.5px solid black; */
    height: 56px;
    width: 747.72px;
    line-height: 48px;
    padding-left: 10px;
    
    
   }
   
   #news2{
       display:inline-block;
       width: 50px;
       height: 40px;
       background-image:url(./img/2news.png);
       background-size: 50px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left:-18px;
       margin-top: -13px; 
       cursor: pointer;
   }
   
   #view{
       display:inline-block;
       width: 100px;
       height: 30px;
       background-image:url(./img/view.png);
       background-size:100px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left:630px;
       margin-top: -90px;
       cursor: pointer;
   }
   
   #code1{
        padding: 0;
       color: #c7ccd1;
       font-size: 25px;
   }
   
   
   #s1{
       font-weight: bold;
       cursor: pointer;
   }
   
   #s3{
       font-weight: bold;
       cursor: pointer;
   }
   
   
   
   /* 세번째
   세번째
   세번째 */
   
   
   /* #newsfooter{
       border: 1px solid blue;
       width: 747.72px;
       height: 48px;
   
   } */
   table{
       width: 730px;
       border-spacing: 0px;
       /* border-style: none; */
       padding: 0px;
       border-color: #ffffff
   }
   .naver-news img{
       width: 105px;/*120.5px;*/
       height: 54.99px;
       cursor: pointer;
   }
   
   #left{
       display:inline-block;
       width: 40px;
       height: 60px;
       background-image:url(../img/left.png);
       background-size:40px;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-left:-15px;
       margin-top: -300px;
       /* box-shadow: 5px 5px 5px #000; */
       cursor: pointer;
   }

   /*------*/


   /*content*/

   div.naver-body{
        font-size: 12px;
        color: #202020;
        font-family: "Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    }
    .naver-body a{
        text-align: center;
        text-decoration: none;
        display: inline-block;
        color: black;
        font-weight: bold;
    }
    li p{
        display: inline-block;
        width: 600px;
      position: absolute;
    }
ul > li{
    list-style: none;
}

.letter{
    margin: 0px;
    max-width: 720px;
}
.letter1{
border: 1px solid #dae1e6;
width: 90px;
height: 30px;
display: inline-block;
box-sizing: border-box;
text-align: center;
margin: 0;
position: center;
}
.hlist3{
}
.letter2{

width: 730px;
height: 73px;
box-sizing: border-box;
    
}

.letter3{
height:310px;
width: 128px;
display: inline-block;
text-align: center;
}
.letter4{
width: 730px;
height: 96px;
box-sizing: border-box;
}
li img{

    width: 90px;
  height: auto;
    
}

/*------*/